/* Estilos generales para la página de inicio */
body {
    font-family: 'Georgia', serif; 
    background-color: #333333; /* Gris oscuro para el fondo */
    color: #f1c40f; /* Amarillo brillante para el texto */
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado en la página de inicio */
header {
    background-color: #1a1a1a; /* Gris oscuro para el encabezado */
    color: #f1c40f; /* Amarillo brillante para el texto */
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

header h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Estilos para el menú de navegación en la página de inicio */
nav ul {
    list-style-type: none; /* Eliminar los puntos de la lista */
    padding: 0;
    margin: 15px 0;
    text-align: center; /* Centrar los elementos */
}

nav ul li {
    display: inline-block; /* elementos en línea */
    margin: 0 15px; /* Espacio enlaces */
}

nav ul li a {
    color: #cfc59d; /* color enlaces */
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
}


/* Estilos para el contenido principal en la página de inicio */
main {
    padding: 20px;
    text-align: center;
    min-height: 70vh; /* Deja espacio para el pie de página */
}

/* Estilos para el pie de página en la página de inicio */
footer {
    background-color: #1a1a1a; /* Gris oscuro para el pie de página */
    color: #f1c40f; /* Amarillo brillante para el texto */
    text-align: center;
    padding: 15px;
    width: 100%;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline-block;
    margin: 0 10px;
}

footer nav ul li a {
    color: #f1c40f;
    text-decoration: none;
}

footer nav ul li a:hover {
    color: #d1d7a0; /* Naranja para los enlaces al pasar el ratón */
}

.img {
    
    width: 100%;
    height: auto;
    border-radius: 5px;
   
}

.feed-subscribe {
    margin-top: 20px;
}
.feed-subscribe a {
    display: inline-block;
    background-color: #f8b400;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}



/* Estilos generales para el blog */
body.blog {
    font-family: 'Georgia', serif; /* Tipo de letra que evoca el estilo clásico de Harry Potter */
    background-color: #2f2f2f; /* Fondo oscuro para dar un toque mágico */
    color: #d3d3d3; /* Texto en gris claro para un contraste suave */
    margin: 0;
    padding: 0;
}

header {
    background-color: #1d1d1d; /* Color oscuro, que evoca el misterio de Hogwarts */
    color: #dff961; /* Rojo oscuro, combinando con el tema de Gryffindor */
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

header h2 {
    font-size: 1.5rem;
    margin: 5px 0;
}

nav ul {
    list-style-type: none; /* Eliminar los puntos de la lista */
    padding: 0;
}

nav ul li {
    display: inline-block; /* Alineación horizontal de los elementos */
    margin: 0 15px; /* Espacio entre los elementos */
}

nav ul li a {
    color: #97b122; /* Enlaces en rojo oscuro */
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #bccb14;
}

main {
    padding: 30px;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    color: #d3d3d3; /* Color de encabezados en gris claro */
}

article {
    background-color: #333333; /* Fondo oscuro para los artículos */
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article a {
    color: #ffd700; /* Color dorado para los enlaces en los artículos */
    text-decoration: none; /* Eliminar el subrayado */
}

article a:hover {
    color: #afaf62; 
}

article p {
    font-size: 1rem;
    line-height: 1.6;
    color: #d3d3d3; /* Texto en gris claro */
}

footer {
    background-color: #131406;
    text-align: center;
}

/*Podcast */
body.podcast {
    font-family: 'Georgia', serif; /* Tipo de letra clásica para mantener la atmósfera mágica */
    background-color: #181414; /* Fondo oscuro */
    color: #f1c40f; /* Amarillo brillante para el texto */
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado en la página de Podcast */
header {
    background-color: #1a1a1a; /* Gris oscuro */
    color: #f1c40f; /* Amarillo brillante */
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

header h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Estilos para el menú de navegación en la página de Podcast */
nav ul {
    list-style-type: none; /* Eliminar los puntos de la lista */
    padding: 0;
    margin: 15px 0;
    text-align: center; /* Centrar los elementos */
}

nav ul li {
    display: inline-block; /* Mostrar los elementos en línea */
    margin: 0 15px; /* Espacio entre los enlaces */
}

nav ul li a {
    color: #f1c40f; /* Amarillo brillante */
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
}


/* Estilos para el contenido principal en la página de Podcast */
main {
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #f1c40f; /* Amarillo brillante para los encabezados */
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: #d3d3d3; /* Gris claro para el texto */
}

/* Estilos para el reproductor de audio */
audio {
    margin: 20px 0;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 5px;
    border: 2px solid #f1c40f; /* Amarillo brillante para el borde */
}

/* Estilos para el pie de página en la página de Podcast */
footer {
    background-color: #1a1a1a; /* Gris oscuro */
    color: #f1c40f; /* Amarillo brillante */
    text-align: center;
    padding: 15px;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline-block;
    margin: 0 10px;
}

footer nav ul li a {
    color: #f1c40f;
    text-decoration: none;
}

footer nav ul li a:hover {
    color: #d5dbb7; 
}
