
body {
    font-family: 'Georgia', serif; 
    background-color: #333333; 
    color: #f1c40f; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a1a1a; 
    color: #f1c40f; 
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

header h2 {
    font-size: 24px;
    margin: 10px 0;
}


nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 15px 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px; 
}

nav ul li a {
    color: #cfc59d; 
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #1a1a1a; 
    color: #f1c40f;
    text-align: center;
    padding: 15px;
    width: 100%;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline-block;
    margin: 10px 0;
}

footer nav ul li a {
    color: #f1c40f;
    text-decoration: none;
}

.img {
    
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.feed-subscribe {
    margin-top: 20px;
}
.feed-subscribe a {
    display: inline-block;
    background-color: #f8b400;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

/* blog */
body.blog {
    font-family: 'Georgia', serif; 
    background-color: #2f2f2f; 
    color: #d3d3d3; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #1d1d1d; 
    color: #dff961;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

header h2 {
    font-size: 24px;
    margin: 5px 0;
}

nav ul {
    list-style-type: none; 
    padding: 0;
}

nav ul li {
    display: inline-block; 
    margin: 0 15px; 
}

nav ul li a {
    color: #97b122; 
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #bccb14;
}

main {
    padding: 30px;
    text-align: center;
}

section h2 {
    font-size: 32px;
    color: #d3d3d3;
}

article {
    background-color: #333333;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article a {
    color: #ffd700; 
    text-decoration: none; 
}

article a:hover {
    color: #afaf62; 
}

article p {
    font-size: 20px;
    line-height: 1.6;
    color: #d3d3d3; 
}

footer {
    background-color: #131406;
    text-align: center;
}

/*Podcast */
body.podcast {
    font-family: 'Georgia', serif; 
    background-color: #181414;
    color: #f1c40f;
    margin: 0;
    padding: 0 30px;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    margin: 0 auto;           /* Centra el main */
    padding: 20px;
    text-align: center;
    max-width: 1200px;        /* Limita el ancho máximo */
    width: 100%;              /* Se ajusta al 100% de su contenedor */
}

header {
    background-color: #1a1a1a; 
    color: #f1c40f;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

header h2 {
    font-size: 20px;
    margin: 10px 0;
}


nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 15px 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px; 
}

nav ul li a {
    color: #f1c40f; 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}



main {
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #f1c40f;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #d3d3d3;
}

audio {
    margin: 20px 0;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 5px;
    border: 2px solid #f1c40f; 
}

footer {
    background-color: #1a1a1a;
    color: #f1c40f;
    text-align: center;
    padding: 15px;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline-block;
    margin: 10px 0;
}

footer nav ul li a {
    color: #f1c40f;
    text-decoration: none;
}

footer nav ul li a:hover {
    color: #d5dbb7; 
}

.img2 {
    width: 300px; 
   
    width: 50%;
}

